/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-----------AntoMelon's stylesheet-----------*/

body {
    --color1: #f8f8f8;
    --color2: #aaa;
    --color3: #888;

    --colorBW: #000;

    --white: #fff;
}

body.dark {

}

/*****************************
************Header************
*****************************/

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 10vh;
    width: 100%;
    background-color: var(--color1);

    border-bottom: 2px var(--color2) solid;

    box-shadow: 0 0 1vh var(--color3);

    position: fixed;

    z-index: 1;
}

.header_nav, .header_nav_selected {
    height: 6vh;
    min-width: 25vh;

    border: 2px var(--color3) solid;
    border-radius: 3vh;

    text-align: center;
    
    font: 24px/1.8 Impact, Verdana, sans-serif;
}

.header_nav a, .header_nav_selected a {
    color: var(--colorBW);
    text-decoration: none;
}

.header_nav {
    box-shadow: 0 0 3vh var(--color2);
}

.header_nav_selected {
    box-shadow: inset 0 0 1vh var(--color2);
}

.flag {
    position: absolute;
    right: 5vh
}

.offsetCorr {
    position: relative;
    height: 10vh;
}


/*****************************
***********Preview************
*****************************/

input[id*="rad_prev"] {
    display: none;
}

#preview {
    background-image: url("../images/Preview.png");
    width: 100%;
    height: 400px;

    border-bottom: 2px var(--color2) solid;

    transition-property: background-position-x;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

#rad_prev1:checked ~ #preview {
    background-position-x: 0px;
}

#rad_prev2:checked ~ #preview {
    background-position-x: 50%;
}

#rad_prev3:checked ~ #preview {
    background-position-x: 100%;
}

.pos_rel {
    position: relative;
}

label[for*="rad_prev"]::before {
    content: '';
    width: 15px;
    height: 15px;

    background-color: var(--white);

    border-radius: 100%;

    position: absolute;
    bottom: 23px;

    visibility: hidden;
}

label[for*="rad_prev1"]::before {
    left: calc(50% - 67px);
}

label[for*="rad_prev2"]::before {
    left: calc(50% - 17px);
}

label[for*="rad_prev3"]::before {
    left: calc(50% + 33px);
}

label[for*="rad_prev"]::after {
    content: '';
    width: 30px;
    height: 30px;

    border: 5px solid var(--white);

    border-radius: 100%;

    position: absolute;
    bottom: 10px;
}

label[for*="_prev1"]::after {
    left: calc(50% - 80px);
}

label[for*="_prev2"]::after {
    left: calc(50% - 30px);
}

label[for*="_prev3"]::after {
    left: calc(50% + 20px);
}

input[id*="rad_prev"]:checked + label[for*="_prev"]::before {
    visibility: visible;
}